node_modules/
package-lock.json

cypress/Cypress/
cypress/downloads/
cypress/Cypress/Cypress.exe
cypress/Cypress/browser_v8_context_snapshot.bin
cypress/videos/
cypress/reports/
cypress/screenshots/
cypress/fixtures/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

.env
